*{margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: white;
  }
  .header-div1 button{
    background-color: transparent;
    border: none;
    font-size: calc(14px + 0.3vw);
  }


  .window-small-search{
    display: none;
  }
  
  
  .header-div2{
    text-align: center;
    justify-content: center;
  }
  
  
  .header-div2 h1{
    font-size: calc(8px + 2vw);
    font-weight: 700; 
  }
  
  
  .header-div2 ul{
    display: flex;
    gap: 1%;
    color: rgb(159, 159, 160);
  }
  li{
    list-style: none;
    font-size: calc(7px + 0.3vw);
  }
  
  .header-div3 ul{
    display: flex;
    gap: 10px;
  }
  .header-div3>div{
    display: flex;
    gap: 25px;
  }
  input{
    border: none;
    border-bottom:4px solid black
  }
  #dropdown {
    display: none;
    top: 50px;
    position: fixed;
  }
  
  #dropdown.active {
    display: block;
    backdrop-filter: blur(5px);
    padding: 10px;
  }

.navbar {
    background-color: transparent;
}

#mainTitle {
    text-align: center;
    width: 0px;
    
}

.search-bar{
    width: 170px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-color: grey;
    z-index: 100px;
    height: 50px;
    padding: 0px  ;
}

.textmenu{
    display:flex;
    justify-content: center;
    text-anchor: middle;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.division{height: 15px;}

.subMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.div-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 26px;
   }

.div-hijo {
    text-align: center;
    margin: 15px;
    width: 300px;
    height: 450px;
    background-color: rgb(236, 207, 208);
}

.box-centered{
    text-align: center;
    margin: 0px;
    width: 300px;
    height: 450px;
    background-color: rgb(236, 207, 208);
}

.price {font-weight: bolder;}

#section2{
    text-align: center;
    padding: 120px 0px;
    border-top: 4px solid rgba(196, 196, 172, 0.183);
    border-bottom: 4px solid rgba(196, 196, 172, 0.183);
    
  }
  #section2 h4{
    font-size: calc(30px + 0.5vw);
    font-weight: 900;
  }
  #section2 h5{
      font-size: calc(40px + 0.5vw);
  }
  #section2 input{
      width: 600px;
      max-width: 100%;}

      #section4 div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        }
        
        #section4{
          padding: 120px 0px;
          border-bottom: 4px solid rgba(196, 196, 172, 0.183);
          background-color: white;
        }
        #section4 li{
          font-size: calc(10px + 0.4vw);
        }
        #section4 h5 {
          margin-bottom: 30px;
          font-size: calc(15px + 0.4vw);
        }
        
    